.book-filter label {
  margin: 0 10px;
}

.book-filter button {
  margin: 0 10px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: whitesmoke;
  padding: 7px 20px;
  font-weight: 700;
  color: #509ce2;
}

.book-filter button:hover {
  background-color: #7d91ec;
  opacity: 0.8;
  color: black;
}
